body {
  background: #000000;
}

img{
  width: 100%;
}

.page-section {
  width: 10%;
  height: 20%;
  position: absolute;
  outline: 1px solid #fff
}

#first {
  position: relative;
  margin: 50% 50%;
  color: red;
}

/*#first:hover{
    margin:0%;
  }
*/
#main-header {
  color: #fff;
  font-family: sans-serif;
}